*{
    margin: 0;
    padding: 0;
}

.container{
    background: #172029;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.profile{
    display: flex;
    align-items: center;
    width: 600px;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #000;
    padding: 20px;
    margin-bottom: 10px;
}
.image1{
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.image2{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
}
.image3{
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.image4{
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.prof_info{
    margin-left: 50px;
    font-size: 20px;
}
.prof_info p{
    letter-spacing: 1px;
    display: flex;
}
.names{
    margin-bottom: 10px;
}
.Icons{
    margin-right: 5px;
}
.title__mobile{
    display: none;
}

@media(max-width: 768px){
    .profile{
        flex-direction: column;
        max-width: 400px;
        width: 100%;
    }
    .prof_info{
        font-size: 17px;
        margin-top: 20px;
    }
    .title__mobile{
        display: block;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 500;
        color: #fff;
        animation: title1 2s infinite;
    }
    .title__1,
    .title__2{
        display: none;
    }
}


@keyframes title1 {
    0%{
        color: #fff;
    }
    25%{
        color: red;
    }
    50%{
        color: yellow;
    }
    75%{
        color: green;
    }
    100%{
        color: #fff;
    }
}
.title__1{
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    animation: title1 2s infinite;
}
.title__2{
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    animation: title1 2s infinite;
}